<div class="card">
  <div class="card-body" data-test-id="planet-card">
    <h6 class="card-subtitle mb-2 text-muted">{{planet.name}}</h6>

    <div class="row">
      <div class="col-sm-2">Population:</div>
      <div class="col-sm-10" data-test-id="planet-population">
        {{planet.population}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Climate:</div>
      <div class="col-sm-10" data-test-id="planet-climate">
        {{planet.climate}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">Gravity:</div>
      <div class="col-sm-10" data-test-id="planet-gravity">
        {{planet.gravity}}
      </div>
    </div>
  </div>
</div>
